{% extends "base.html" %}
{% block style %}
    <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block content %}


  <form method="post" action="{{ url_for('auth.login') }}" class="form-login">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      {{ form.username(class='form-control', type='input', placeholder='Username')}}
      {{ form.password(class='form-control', id='password', type='password', placeholder='Password') }}
    <div class="row">
      {{ form.submit(class='btn btn-primary btn-block col-6') }}
      <a href="{{ url_for('auth.regi') }}" class=" col-6"><button class="btn btn-primary btn-block" type="button"> Register</button></a>
    </div>

  </form>

{% endblock %}